:root {
  /* Primary Colors - Clean and Professional */
  --primary-blue: #3498db;
  --primary-red: #e74c3c;
  --primary-dark-blue: #2c3e50;
  --primary-gray: rgb(98, 107, 108);
  --primary-light-gray: #ecf0f1;

  /* Text Colors */
  --text-primary: black;
  --text-secondary: #7f8c8d;
  --primary-secondary-red: rgb(244, 55, 34);
  --text-white: white;
  --text-success: #2ecc71;
  --text-error: rgb(231, 24, 1);

  /* Background Colors */
  --bg-white: white;
  --bg-light-gray-bg: #f0f0f0;

  /* Border Colors */
  --border-default: #bdc3c7;
  --border-focused: #3498db;
}

.text-h1 {
  font-size: 1.875rem;
  font-weight: 600;
  text-align: center;
  color: var(--text-primary);
  margin: 0px;
}

.text-sub {
  width: 70%;
  color: var(--text-secondary);
  text-align: center;
  margin: 0px;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-color: var(--bg-white);
}

.heading-container {
  width: 100%;
  padding: 1rem 0;
}

/*HOME*/
.autofill-button {
  width: 100%;
  margin: 1rem 0 0 0;
  background-color: var(--primary-red);
  color: var(--text-white);
  font-weight: 600;
  padding: 0.75rem 0;
  border-radius: 0.3rem;
  border: none;
  cursor: pointer;
}

.job-extension-parent .home-error {
  color: var(--text-error);
}

/* App.jsx */
.chrome-extension-open-button {
  position: fixed;
  top: 20px;
  right: 0px;
  width: 55px;
  height: 65px;
  background-color: var(--primary-red);
  border: none;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
}

.chrome-extension-open-button:hover {
  background-color: var(--primary-secondary-red);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.chrome-extension-open-button img {
  display: block;
  height: 50px;
  transition: transform 0.2s ease;
}

.chrome-extension-open-button:hover img {
  transform: scale(1.1);
}

.chrome-extension-panel {
  position: fixed;
  top: 20px;
  right: 0px;
  background: var(--bg-white);
  border: 1px solid var(--border-default);
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1001;
}

.chrome-extension-navigation {
  gap: 2px;
  display: flex;
  justify-content: flex-end;
  list-style: none;
  padding: 0;
  margin: 0;
}

.chrome-extension-nav-button {
  border: none;
  cursor: pointer;
  color: var(--text-primary);
  font-size: 1.3rem;
  padding: 0.8rem;
  background-color: transparent;
  border-radius: 4px;
  list-style: none;
}

.chrome-extension-nav-button.active svg {
  color: var(--primary-red);
}

.chrome-extension-nav-button svg {
  color: var(--primary-dark-blue);
  transition: color 0.2s ease;
}

.chrome-extension-nav-button:hover svg {
  color: var(--primary-secondary-red);
}

/* Form-Field Styles */

.form-container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.field-group {
}

.field-group-heading {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0.5rem 0 0 0;
}

.field-group-content {
  padding: 0.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
}
.field-group-content.file-content {
  display: block; /* Or any other style you need */
}

.form-field {
  margin-bottom: 15px;
}

.form-label {
  display: block;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 5px;
  color: var(--text-primary);
}

.form-input {
  padding: 0.5rem 0.5rem;
  border: 1px solid var(--primary-light-gray);
  border-radius: 4px;
  font-size: 1rem;
  color: var(--primary-dark-blue);
  background-color: var(--bg-white);
  transition: border-color 0.2s ease;
}

.form-input:focus {
  outline: none;
  border-color: var(--border-focused);
  box-shadow: 0 0 0 2px rgba(99, 179, 237, 0.2);
}

.form-block {
  display: flex;
  flex-direction: column;
}

.button-group {
  display: flex;
  justify-content: flex-end;
}

.delete-container {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.back-button {
  margin-right: auto;
}

.back-button,
.next-button,
.save-button,
.delete-button {
  padding: 10px 15px;
  border: none;
  border-radius: 0.2rem;
  background-color: var(--primary-dark-blue);
  color: var(--text-white);
  cursor: pointer;
}

.delete-button,
.save-button {
  background-color: var(--primary-red);
}

.back-button:hover,
.next-button:hover,
.save-button:hover,
.delete-button:hover {
  opacity: 0.9;
}

.success-message {
  color: var(--text-success);
  text-align: center;
}

.error-message {
  color: var(--text-error);
  text-align: center;
}

/*Profile.jsx*/
.profile-details {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: 1.5rem 0 0 0;
}

.profile-section {
  margin-bottom: 0.5rem;
}

.profile-section-title {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0px;
  color: var(--text-primary);
}

.separator {
  border-bottom: 0.2rem solid var(--primary-red);
  margin: 0 0 0.5rem 0;
}

.profile-info-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.75rem;
}

.profile-info-grid p {
  margin: 0;
  font-size: 1rem;
  color: var(--text-secondary);
}

.profile-info-grid strong {
  font-weight: 600;
  color: var(--text-primary);
}

.resume-container {
  border: 1px solid var(--border-default);
  border-radius: 4px;
}

.resume-actions-container {
  display: flex;
  align-items: center;
}

.resume-view-button,
.resume-download-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 8px 12px;
  border-radius: 4px;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
}

.resume-view-button {
  flex: 3; /* 3/4 */
  justify-content: flex-start;
  gap: 5px;
  color: var(--primary-blue);
  text-decoration: underline;
}

.resume-download-button {
  flex: 1; /* 1/4 */
  justify-content: center;
  border-left: 1px solid var(--border-default);
}

.resume-view-button:hover,
.resume-download-button:hover {
  background-color: var(--primary-light-gray);
}

.resume-file-icon {
  font-size: 1.5rem;
  color: var(--primary-dark-blue);
}

.resume-view-text,
.resume-download-text {
  white-space: nowrap;
}

.resume-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.resume-modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 800px;
  position: relative;
}

.modal-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
}

.modal-resume-preview {
  width: 100%;
  height: 600px;
  border: 1px solid var(--border-default);
}
